
<ion-content>
  <div id="container" >
    <ion-row class="ion-justify-content-center">
   
      <ion-col>  
        <p>
            <ion-row class="ion-justify-content-center" >
              <ion-col size="6">
                <img class= "savem"src="assets/images/savem.png">
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="6" >
                <span>Money SA...</span>
             </ion-col>
            </ion-row> 
            <ion-row class="ion-justify-content-center">
              <ion-col size="3" >
              <ion-spinner name="crescent" duration="2000"></ion-spinner>
              </ion-col>
            </ion-row>
        </p>
      </ion-col>
    </ion-row>
  </div>
   
</ion-content>
