
<ion-header>
  <div class="header">
    <ion-toolbar>
      <ion-row justify-content-center>
        <ion-col size="4">
          <button icon-only class="ion-button" clear type="button"  routerLink="/accueil" >
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-col>
        <ion-col>

          <ion-avatar>
            <img src="../../assets/images/logoSaMoney.png">
          </ion-avatar>
      
        </ion-col>
      </ion-row>
      <ion-row class="justify-content-center">
        <ion-col size="7" >
          <span>
            <ion-icon color="secondary" slot="start" name="log-in-outline"></ion-icon>
            <ion-text color="secondary">Commission</ion-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  
  <div  class="ion-padding">
    <div class="">
      <ion-row>
        <ion-col>
          <div><h4>Type</h4></div>
        </ion-col>
        <ion-col>
          <div><h4>Du</h4></div>
        </ion-col>
        <ion-col>
          <div><h4>Au</h4></div>
        </ion-col>
      </ion-row>
    </div>
    
    <ion-row>
      <ion-col>
        <div><h6>Date</h6></div>
      </ion-col>
      <ion-col>
        <div><h6>Type</h6></div>
      </ion-col>
      <ion-col>
        <div><h6>Montant</h6></div>
      </ion-col>
    </ion-row>
    <!--commision-->
    <ion-row *ngFor="let commission of commissions; let i=index">
      <ion-col>
        <div *ngIf="commission.type == 'depot'; else elseTemplate">
          {{commission.dateDepot|date:'shortDate'}}</div>
        <ng-template #elseTemplate>
          <!-- <span *ngIf="!commission.dateRtrait" class="non-r">non-retirer</span> -->
          {{commission.dateRetrait|date:'shortDate'}}</ng-template>
      </ion-col>

      <ion-col>
        <div *ngIf="commission.type == 'depot';  else elseTemplat">Depot</div>
        <ng-template #elseTemplat>Retrait</ng-template>
      </ion-col>

      <ion-col>
        <div *ngIf="commission.type == 'depot';  else part">{{commission.partDepot}}</div>
        <ng-template #part>{{commission.partRetrait}}</ng-template>
      </ion-col>
    </ion-row>
    <ion-item>
      <div>
          <h5>Total :  <span>{{total}} </span></h5>
      </div>
    </ion-item>
    
  </div>

<!-- <ion-nav class="nav" [root]="rootPage"></ion-nav> -->
</ion-content>