.header {
    height: 10%;
    align-items: center;
    ion-toolbar {
        img {
          height: 50% !important;
          width: 60%;
          margin-top: 15px;
        }
        ion-menu-button{
            height: 30px !important;
            margin-top: 4px;
            align-items: center;
            font-size: 3em;
            color: #f9961e;
        }
    }
  }

ion-content {
    --ion-background-color: #f3f3f3;
  
    
    ion-card {
      //top: 0em;
      background-color: white;
      border-bottom: 2px solid var(--ion-color-secondary) !important;
      box-shadow: 0 1px 5px rgba(0,0,0,0.25),
      0 0px 0px rgba(0,0,0,0.22);
      // border-bottom: blue;
      ion-card-content {
        // font-size: 0.1em;
        padding: 5%;
        height: 7em;
        ion-card-subtitle {
          font-size: 0.7em;
        }
        ion-card-title {
          top: 5px;
          bottom: 10px !important;
          color: var(--ion-color-secondary);
          font-size: 1.5em;
          span {
            color: black;
            font-size: .7em;
          }
        }
        .misejour{
          position: relative;
          top: 10px !important;
        }
      }
    }
  
    .padding {
      padding: 5%;
      height: 30%;
    }
  
    .menu-admin {
      // padding: 2%;
      background-color: white;
      height: 60%;
      box-shadow: 0 1px 5px rgba(0,0,0,0.25),
      0 0px 0px rgba(0,0,0,0.22);
      ion-item {
        // border-bottom: 2px solid var(--ion-color-warning);
        // line-height: 2em;
        ion-icon {
          color: #f84e4e;
          font-size: 1.5em !important;
        }
  
        ion-button {
          color: black;
          font-weight: 400;
          font-size: 12px !important;
        }
      }
    }
  }
  // ============




ion-item {
    outline: none;
    --background-focused: #f1453d;
     --background-hover: #04838f !important;
    --font-size: 13px;
}
  

  
  
 
  ion-menu-button {
        transform: scale(0.95);
        --background-activated: #f7eee4;
        --background-hover: #f9961e;
}

ion-button {
    transform: scale(0.95);
    --background-activated: #f9961e;
    --background-hover: #f9961e;
}

