.header {
    height: 10%;
    align-items: center;
    ion-toolbar {
        img {
          height: 90% !important;
          margin-top: 4px;
          align-items: center;
        }
        ion-menu-button{
            height: 100% !important;
            margin-top: 4px;
            align-items: center;
            font-size: 4em;
            color: #f9961e;
        }
    }
  }

ion-content {
    --ion-background-color: #f3f3f3;
  
    
    ion-card {
      background-color: white;
      border-bottom: 2px solid var(--ion-color-secondary) !important;
      box-shadow: 0 1px 5px rgba(0,0,0,0.25),
      0 0px 0px rgba(0,0,0,0.22);
      // border-bottom: blue;
      ion-card-content {
        // font-size: 0.1em;
        padding: 5%;
        height: 9em;
        ion-card-subtitle {
          font-size: 0.7em;
        }
        ion-card-title {
          color: var(--ion-color-secondary);
          font-size: 2.2em;
          span {
            color: black;
            font-size: 0.4em;
          }
        }
  
        span {
          font-size: 0.6em;
        }
      }
    }
  
    .padding {
      padding: 5%;
      height: 30%;
    }
  
    .menu-admin {
      // padding: 2%;
      background-color: white;
      height: 60%;
      box-shadow: 0 1px 5px rgba(0,0,0,0.25),
      0 0px 0px rgba(0,0,0,0.22);
      ion-item {
        // border-bottom: 2px solid var(--ion-color-warning);
        // line-height: 2em;
        ion-icon {
          color: #f84e4e,;
        }
  
        ion-button {
          color: black;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
  // ============





hr{
    position: absolute;
    color: #f9961e,;
    float: right;
    top: 38%;
    right: 18%;
    z-index: 22222222222222;
    text-decoration: underline;
}

ion-item {
    outline: none;
    --background-focused: #f1453d;
      --background-hover: #04838f !important;
  }
  

  
  
 
  ion-menu-button {
        transform: scale(0.95);
        --background-activated: #f7eee4;
        --background-hover: #f9961e;
}

ion-button {
    transform: scale(0.95);
    --background-activated: #f9961e;
    --background-hover: #f9961e;
}

