$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  vibrant:    rebeccapurple,
  bright:     #ffc125
);
ion-icon{
     font-weight: bold !important;
     color: #f53d3d;
}