<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs> -->
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home" routerDirection="root" tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
     </ion-tab-button>

    <ion-tab-button routerLink="/mestransaction" routerDirection="root"  tab="tab2">
      <ion-icon name="sync-outline"></ion-icon>
         </ion-tab-button>

    <ion-tab-button   *ngIf=" currentUser.roles[0] != 'ROLE_USER_AGENCE'" routerLink="/commission" routerDirection="root"  tab="tab3">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button routerLink="/calcfrais" routerDirection="root"  tab="tab3">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>