<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs> -->
<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button routerLink="/home" routerDirection="root" tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tab2" routerDirection="root"  tab="tab2">
      <ion-icon name="sync"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tab3" routerDirection="root"  tab="tab3">
      <ion-icon name="logo-euro"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>
    
    <ion-tab-button routerLink="/tab3" routerDirection="root"  tab="tab3">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>