
<ion-content>
  <div class="error-page" >
    <ion-row class="ion-justify-content-center">
   
      <ion-col>  
            <ion-row class="ion-justify-content-center" >
              <ion-col size="6">
                
                <img class= "savem"src="assets/images/savem.png">
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="4" >
                <h2 class="">404</h2>
             </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="3" >
                <h3>SORRY!</h3>
             </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="7" >
                <h4 class="align-justify">The page you’re looking for was not found.</h4>
             </ion-col>
            </ion-row>
             
            <ion-row class="ion-justify-content-center">
              <ion-button (click)="gotoHome()"  class="ui-button-danger">Go to Home</ion-button>
             
            </ion-row>
      </ion-col>
    </ion-row>
  </div>
 
</ion-content>
