
<ion-header>
  <div class="header">
    <ion-toolbar>
      <ion-row justify-content-center>
        <ion-col size="4">
          <button icon-only class="ion-button" clear type="button"  routerLink="/accueil" >
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-col>
        <ion-col>

          <ion-avatar>
            <img src="../../assets/images/logoSaMoney.png">
          </ion-avatar>
      
        </ion-col>
      </ion-row>
      <ion-row class="justify-content-center">
        <ion-col size="7" >
          <span>
            <ion-icon color="secondary" slot="start" name="sync-outline"></ion-icon>
            <ion-text color="secondary">Transaction</ion-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>


  <div class="contenu">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)" value="mestransaction">

  <ion-segment-button value="mestransaction">
    <ion-label>Mes transactions</ion-label>
  </ion-segment-button>
  <ion-segment-button value="toutmestransaction">
    <ion-label>Toutes les transactions</ion-label>
  </ion-segment-button>
</ion-segment>
<div>
<ion-row>
  <ion-col>
    <div><h4>Users</h4></div>
  </ion-col>
  <ion-col>
    <div><h4>Type</h4></div>
  </ion-col>
  <ion-col>
    <div><h4>Du</h4></div>
  </ion-col>
  <ion-col>
    <div><h4>Au</h4></div>
  </ion-col>
</ion-row>
</div>
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'mestransaction'">

        <div class="ion-padding">

          <!-- Theme classes dark, material, bootstrap -->
          <ngx-datatable 
            class="material"
            [limit]="8" 
            [rows]="rows" 
            [rowHeight]="50" 
            [columns]="columns"
            [columnMode]="'force'" 
            [sortType]="multi" 
            [headerHeight]="50" 
            [footerHeight]="50">
          </ngx-datatable>
      
        </div>
      </div>

      <!-- Beneficiaire -->
      <div *ngSwitchCase="'toutmestransaction'">

      </div>
    </div>
  </div>
  <ion-nav [root]="rootPage2"></ion-nav>
  <app-sidemenu></app-sidemenu>
</ion-content>