
<ion-header>
  <div class="header">
    <ion-toolbar>
      <ion-row justify-content-center>
        <ion-col size="5">
          <button icon-only class="ion-button" clear type="button"  routerLink="/home" >
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-col>
        <ion-col>

          <ion-avatar>
            <img src="../../assets/images/savem.png">
          </ion-avatar>
      
        </ion-col>
      </ion-row>
      <ion-row class="justify-content-center">
        <ion-col size="7" >
          <span>
            <ion-icon color="secondary" slot="start" name="calculator"></ion-icon>
            <ion-text color="secondary">Frais</ion-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div class="entete">
    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div>

    <div class="t-login">
      <span>
        <ion-icon color="secondary" slot="start" name="calculator-sharp"></ion-icon>
        <ion-text color="secondary">Calculateur de Frais</ion-text>
      </span>
    </div>
  </div>

  <div class="contenu">
    <ion-item>
      <ion-label position="stacked"> Type de Transaction </ion-label>
      <ion-select placeholder="Select">
        <ion-select-option value="depot">Dépôt</ion-select-option>
        <ion-select-option value="retrait">Retrait</ion-select-option>
      </ion-select>


    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Montant
      </ion-label>
      <ion-input type="text"> </ion-input>
    </ion-item>

    <br>
    <ion-button item-end color="" shape="round">
      Calculer
    </ion-button>

  </div>
</ion-content>
