
<ion-header>
  <div class="header">
    <ion-toolbar>
      <ion-row justify-content-center>
        <ion-col size="4">
          <button icon-only class="ion-button" clear type="button"  routerLink="/accueil" >
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-col>
        <ion-col>

          <ion-avatar>
            <img src="../../assets/images/logoSaMoney.png">
          </ion-avatar>
      
        </ion-col>
      </ion-row>
      <ion-row class="justify-content-center">
        <ion-col size="7" >
          <span>
            <ion-icon color="secondary" slot="start" name="calculator"></ion-icon>
            <ion-text color="secondary">Frais</ion-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>

  <div class="entete">
    <div class="t-login">
      <span>
        <ion-icon color="secondary" slot="start" name="calculator-sharp"></ion-icon>
        <ion-text color="secondary">Calculateur de Frais</ion-text>
      </span>
    </div>
  </div>

  <div class="contenu">
    <form class="" #frais="ngForm" class="ion-margin" (ngSubmit)="onSubmit(frais)">
      <ion-list>
        <ion-item>
          <ion-label position="floating" color="dark-shade">Type</ion-label>
          <ion-select
            interface="popover"
             value="depot"
              name="type"
             [(ngModel)]="fraisForm.type"
             #type="ngModel"
             required
             >
            <ion-select-option value="depot">Depot </ion-select-option>
            <ion-select-option value="retrait">Retrait</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="dark-shade">Montant</ion-label>
          <ion-input
            [(ngModel)]="fraisForm.montant"
            #montant="ngModel"
            name="montant"
            min="1"
            type="number"
            required
          >
          </ion-input>
        </ion-item>
      </ion-list>
  
      <ion-button
        class="ion-margin"
        color=""
        expand="full"
        type="submit"
        >calculer</ion-button
      >
    </form>

  </div>
</ion-content>
