$colors: (
 primary:    #f9961e,
 secondary:  #882e2e,
 danger:     #f84e4e,
 light:      #f4f4f4,
 dark:       #222,
 newColor:   #000000,
);

.tolbarimg{
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    width: 100%;
}

ion-grid{
    width: 90%;
    margin-top: 8%;
    justify-content:center;
    align-items:center;
    align-content:center;
    border-radius: 1px;
    background-color: #f4f4f4;
    border-radius: 1px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25),
            0 0px 0px rgba(0,0,0,0.22);
    position: relative;
    border:none;
    
}

ion-toolbar{
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: -100%;
    
}
.item-interactive {
    --highlight-background: unset;
    --color: rgb(105, 88, 88);
    font-size: 12px;
    font-style: italic;
    margin: none;
}
ion-item {
    margin: none;
    --border-width: 0;
    --inner-border-width: 0;
    background-color: #f4f4f4;
}
h1{
    position: absolute;
    color: #f9961e,;
    float: right;
    top: 18%;
    right: 5%;
    z-index: 22222222222222;
    text-decoration: underline;
}
.hr{
    color: #f9961e;
}
.form-input {
    padding: 10px;
    appearance: none;
    font-size: 15px;
    font-family: sans-serif;
    transition: all 0.3s ease;
}

ion-input {
    text-indent: 15px;
    top: -1em;
    appearance: none;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 5px;
}
.ion-button {
    --display: inline;
    position: absolute;
    padding: 15px;
    right: 5px;
    top: 15%;
    background-color: #fff !important;

}
ion-button {
    transform: scale(0.95);
    --background-activated: #f9961e;
    --background-hover: #f9961e;
}
  

  
  
  ion-button {
      --border-radius: none;
      --background: #427976;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      padding: .2em;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      margin-top: 20px;
  
  }
  ion-button:active {
	transform: scale(0.95);
}


.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}
ion-input:focus{
    outline: none;
  }


:host {
    .item-interactive.ion-invalid{
     --highlight-background: yellow !important;
   }
   .item-interactive.ion-valid{
     --highlight-background: black !important;
   }
 }
 .item-interactive{
    --border-color: var(--ion-color-danger, #f1453d);
    --highlight-color-focused: red;
//     --ion-input-highlight-color-valid
// --ion-input-highlight-color-invalid
// --ion-input-highlight-color-focused
  }
