
<ion-header>
  <div class="header">
    <ion-toolbar>
      <ion-row justify-content-center>
        <ion-col size="5">
          <button icon-only class="ion-button" clear type="button"  routerLink="/accueil" >
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-col>
        <ion-col>

          <ion-avatar>
            <img src="../../assets/images/savem.png">
          </ion-avatar>
      
        </ion-col>
      </ion-row>
      <ion-row class="justify-content-center">
        <ion-col size="7" >
          <span>
            <ion-icon color="secondary" slot="start" name="return-up-back-outline"></ion-icon>
            <ion-text color="secondary">Retrait</ion-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>


  <div class="contenu">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)" value="emetteur">

  <ion-segment-button value="emetteur">
    <ion-label>Emetteur</ion-label>
  </ion-segment-button>
  <ion-segment-button value="beneficiaire">
    <ion-label>Bénéficiaire</ion-label>
  </ion-segment-button>
</ion-segment>
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'emetteur'">

        <ion-item>
          <ion-label position="stacked">
            N CNI
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Nom
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Prénom
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Téléphone
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Montant
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Frais
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Total
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>


      <!-- Beneficiaire -->
      <div *ngSwitchCase="'beneficiaire'">

        <ion-item>
          <ion-label position="stacked">
            Nom
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Prénom
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            Téléphone
          </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>



      </div>


    </div>

    <br>
    <ion-button expand="block" slot="bottom" color="" shape="round">
      Suivant
    </ion-button>
  </div>
</ion-content>
