ion-header {
  background-color: #f9961e;
  ion-toolbar {
    border-bottom-right-radius: 100% !important;
    border-bottom-left-radius: -50%;
    margin-bottom: 1px;
    img {
        background-size: cover;
        margin-top: 4px;
        align-items: center;
      }
    span{
        position: relative;
        top: 20%;
        z-index: -98888888888;
        text-align: center;
        font-size: 1.4em;
        color: #f9961e;
    }
    ion-row{
      z-index: 666;
    }
  }
}
.ion-button{
  position: relative;
  top: 2em;
  background:#fff;
  ion-icon{
    color:  #f9961e;
    font-size: 25px;
  }
}
.content-row{
  font-size: 12px;
}
ion-segment-button{
  ion-label{

    font-size: 11px;
  }
}




