<ion-header>
  <div class="header">
    <ion-toolbar>
      <ion-row justify-content-center>
        <ion-col size="4">
          <button
            icon-only
            class="ion-button"
            clear
            type="button"
            routerLink="/accueil"
          >
            <ion-icon name="home"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <ion-avatar>
            <img src="../../assets/images/logoSaMoney.png" />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row class="justify-content-center">
        <ion-col size="7">
          <span>
            <ion-icon
              color="secondary"
              slot="start"
              name="sync-outline"
            ></ion-icon>
            <ion-text color="secondary">Transaction</ion-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div class="contenu">
    <ion-segment
      [(ngModel)]="segment"
      (ionChange)="segmentChanged($event)"
      value="mestransaction"
    >
      <ion-segment-button value="mestransaction">
        <ion-label>Mes transactions</ion-label>
      </ion-segment-button>
      <ion-segment-button
        *ngIf=" currentUser.roles[0] != 'ROLE_USER_AGENCE'"
        value="toutmestransaction"
      >
        <ion-label>Toutes les transactions</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'mestransaction'">
        <div class="ion-padding">
          <div class="">
            <ion-row>
              <ion-col>
                <div><h4>Type</h4></div>
              </ion-col>
              <ion-col>
                <div><h4>Du</h4></div>
              </ion-col>
              <ion-col>
                <div><h4>Au</h4></div>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col>
              <div><h6>Date</h6></div>
            </ion-col>
            <ion-col>
              <div><h6>Type</h6></div>
            </ion-col>
            <ion-col>
              <div><h6>Montant</h6></div>
            </ion-col>
          </ion-row>
          <!--commision-->
          <ion-row *ngFor="let t of transaction; let i=index">
            <ion-col>
              <div *ngIf="t.type == 'depot'; else elseTemplate">
                {{t.dateDepot|date:'shortDate'}}
              </div>
              <ng-template #elseTemplate>
                <span *ngIf="!t.dateRetrait" class="non-r">non-retirer</span>
                {{t.dateRetrait|date:'shortDate'}}</ng-template
              >
            </ion-col>

            <ion-col>
              <div *ngIf="t.type == 'depot';  else elseTemplat">Depot</div>
              <ng-template #elseTemplat>Retrait</ng-template>
            </ion-col>

            <ion-col> {{t.montant}} </ion-col>
          </ion-row>
          <ion-item>
            <div>
              <h5>Total : <span>{{total}} </span></h5>
            </div>
          </ion-item>
        </div>
      </div>

      <!-- toutmestransaction -->
      <div *ngSwitchCase="'toutmestransaction'">
        <div class="">
          <div class="">
            <ion-row>
              <ion-col>
                <div><h4>Users</h4></div>
              </ion-col>
              <ion-col>
                <div><h4>Type</h4></div>
              </ion-col>
              <ion-col>
                <div><h4>Du</h4></div>
              </ion-col>
              <ion-col>
                <div><h4>Au</h4></div>
              </ion-col>
            </ion-row>
          </div>

          <ion-row>
            <ion-col>
              <div><h6>Date</h6></div>
            </ion-col>
            <ion-col>
              <div><h6>Users</h6></div>
            </ion-col>
            <ion-col>
              <div><h6>Type</h6></div>
            </ion-col>
            <ion-col>
              <div><h6>Montant</h6></div>
            </ion-col>
            <ion-col>
              <div><h6>Frais</h6></div>
            </ion-col>
          </ion-row>
          <!--commision-->
          <ion-row class="content-row" *ngFor="let t of transactions; let i=index">
            <ion-col>
              <div *ngIf="t.type == 'depot'; else elseTemplate">
                {{t.dateDepot|date:'shortDate'}}
              </div>
              <ng-template #elseTemplate>
                <span *ngIf="!t.dateRetrait" class="non-r">non-retirer</span>
                {{t.dateRetrait|date:'shortDate'}}</ng-template
              >
            </ion-col>

            <ion-col>
              <div *ngIf="t.type == 'depot';  else elseTemplat">Depot</div>
              <ng-template #elseTemplat>Retrait</ng-template>
            </ion-col>
            <ion-col>
              {{t.userAgenceTransaction.nom}} {{t.userAgenceTransaction.prenom}}
            </ion-col>
            <ion-col> {{t.montant}} </ion-col>

            <ion-col> {{t.frais}} </ion-col>
          </ion-row>
          <ion-item>
            <div>
              <h5>Total : <span>{{montant}} </span></h5>
            </div>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
  <!-- <ion-nav [root]="rootPage2"></ion-nav> -->
</ion-content>
